*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;   
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color:#0c0a09;
    color: #e2e8f0;
    font-weight: bold;
    width: 100%;
    position: fixed;
}

.nav-right{  
    display: none;
}

.first-section{
    height: 500px;
    background-color:#0c0a09 ;
    color: #e2e8f0;
    font-weight: bold;
    display: flex;    
    align-items: center;
    justify-content: center; 
}

.jumbo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
}

.first-title{
    font-size: 2rem;
    font-weight: bold;
}

.second-title{
    font-size: 0.5rem;
}

.blog{
    color: #7c3aed;
    letter-spacing: 8px;
}

.button{
    background-color: #7c3aed;
    color: #e2e8f0;
    border: none;
    border-radius: 10px 10px 10px 10px;
    font-weight: bold;
    margin-top: 25px; 
}

.butt-jumbo{ 
    padding:4px 130px;       
}

.second-section{    
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.post{
    border: 1px solid black;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 5px 10px 30px gray; 
    min-height: 230px;
    display: flex;
    flex-direction: column;   
}

h4{
    line-height: 50px;    
}

h4{
    font-size: 20px;
    padding: 10px;
}

h5{
    font-size: 15px;
}

h6{    
    color: #e2e8f0;
}

.mb-auto{
    margin-bottom: auto;
    margin-top: auto;
}

.second-title{
    letter-spacing: 1px;
}

.df{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.mr{
    margin-right: 5px;
}

.mb-auto>span{
    border: 1px solid #7c3aed;
    border-radius: 10px 10px 10px 10px;
    padding: 4px 10px;
    font-size: 12px;
}

.viewmore{
    color:#0c0a09;
    text-decoration: none;
}

.viewmore:hover{
    color: #7c3aed;
    text-decoration: underline;
    cursor: pointer;      
}

.hc:hover{
    color: #7c3aed;
    cursor: pointer;
}


#slide{
    height: 100%;
    width: 120%;
    background-color: #0c0a09;
    position: fixed;
    top: 0%;
    left: -120%;
    color: #e2e8f0;
    padding: 10px;  
    padding-left: calc(20% + 10px) !important;
    z-index: 100;
    overflow: hidden !important;
    transition: all 1s ease-out;  
}

.opacity-0{
    transition: opacity 3s ease-in-out;
    opacity: 0;
}

.left-1 .opacity-0{
    opacity: 1;
}

#slide-out{
    display: inline;
}

.left-1 {
    animation: bounce-in-slide 2s ease;
}

.left {
    left: -20% !important;
}

@keyframes bounce-in-slide {
    0% {
      left: -150%;
    }
    60% {
      left: -15%;
    }
    100% {
      left: -20%;
    }
  }

.no-scroll {
    overflow: hidden !important;
}

ul{
    padding-top: 20px;
    list-style-type: none;
    line-height: 50px;
}

.logo{
    text-decoration: none;
    color: #e2e8f0;
}

.view-more{
    padding-top: 80px;
    padding-left: 5px;
    padding-right: 5px;
}


@media screen and (min-width:768px){
    .menu{
        display: none;
    }

    .nav-right{
        display: block;
        display: flex;
    }

    .mtop-right{
        margin-right: 10px;
    }

    .first-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .first-title{
        font-size: 20px;
    }

    .second-title{
        letter-spacing: 8px;
    }

    .butt-jumbo{
       padding: 4px 200px;
    }

    .second-section{
        display: flex;
        flex-direction: row;       
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .post{
        width: calc(50% - 10px);         
    }

    #slide{
        display: none;
    }
}

@media screen and (min-width:1000px){
    .hc{
        display: none;
    }
}


@media screen and (min-width:1252px){
    .menu{
        display: none;
    }

    .nav-right{
        display: block;
        display: flex;
    }

    .mtop-right{
        margin-right: 10px;
    } 

    .first-section{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .butt-jumbo{
        padding: 4px 80px;
    }    

    .jumbo {
        align-items: start;
    }

    .second-section{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .w-40 {
        width: 40%;
        display: flex;
        justify-content: center;
    }

    .first-title{
        font-size: 40px;
    }

    .second-title{
        letter-spacing: 15px;
    }

    #slide{
        display: none;
    }

    .hc{
        display: block;
    }

}
