*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: #0c0a09;
    color: #e2e8f0;
    font-weight: bold;
    
}

.logo{
    padding-left: 4%;
    padding-top: 4%;
}

.menu{
    padding-right: 4%;
    padding-top: 4%;
}

.posts, .login, .sign-in{
    display:none;
}

.first-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #0c0a09;
    font-weight: bold;
}

.first-title{
    font-size: 30px;
    color: #e2e8f0;
    
    
}
.blog{
    color: #7c3aed;
    letter-spacing: 8px;
    
}

.second-title{
    font-size: 5px;
    color: #e2e8f0;
}

button{
    width: 85%;
    background-color: #7c3aed;
    border-radius: 20px;
    color: #e2e8f0;
    margin-top: 25px;
    border: none;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    
}

.butt-post{
    background-color: #7c3aed;
    border-radius: 20px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;

}

.latest-post{
    
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 15px;
}

.second-section{
    padding: 10px;
    display: flex;
    flex-direction: column;
   
}

.post{
    border: 1px solid black;
    padding:  15px;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.title-post{
    font-size: 1rem;
    line-height: 3;
}

/* Tablet */
@media screen and (min-width: 768px)  {

    .navbar{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 1%;
        padding-right: 1%;
       }

    .menu{
        display: none;
    }

    .logo{
        margin-right: auto;
        font-weight: bold;
        padding-top: 1%;
        padding-left: 3%;
    }

    .posts, .login, .sign-in{
       display: flex;
       padding: 0 10px;
       font-weight: none;
       padding-top: 1%;
    }

    .second-section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       
    }

    .second-title{
        font-size: 13px;
        letter-spacing: 8px;
    }
    
    button{
        width: 70%;
    }

    .post{
        width: 48%;
    }

}

/*Desktop*/
@media screen and (min-width: 1252px) {

    .navbar{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 1%;
        
        
    }

    .menu{
        display: none;
    }

    .logo{
        margin-right: auto;
        padding-top: 0%;
        padding-left: 2%;
    }

    .posts, .login, .sign-in{
       display: flex;
       padding: 0 10px;
       font-size: 13px;
    }

    .first-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: 800px;
        
        
    }

    .first-title{
        margin-left: 6%;
        font-size: 48px;
    }

    .second-title{
        margin-left: 6%;
        font-size: 13px;
        letter-spacing:  15px;
    }

    button{
        width: 23%;
        margin-left: 6%;
        font-size: 10px;
    }

    .second-section{
        display: flex;
        flex-direction: row;
    }

    .post{
        width: 21%;
        margin-right: 35px;
    }
}
